body
{
  background: black;
  padding-bottom: 1000px;
}
p
{
  color: white;
  font-size: 20px;
}
h1
{
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 50px;
  margin-top: 20px;
}
#image
{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 400px;
  margin-bottom: 50px;
}
.image-box
{
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: 1000px;
  margin-left: 170px;
}
.center
{
  display: flex;
  align-items: center;
  text-align: center;
  width: 500px;
}
blockquote
{
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.img
{
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 250px;
}

h2
{
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.paragraph
{
  margin-left: 100px;
  margin-right: 100px;
}
#last-paragraph
{
  text-align: center;
  margin-top: 20px;
}
